################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ItalianOverhaul
/ItalianOverhaul/bin/*
/ItalianOverhaul/obj/*
/ItalianOverhaul/obj\*
/ItalianOverhaul/obj/Debug/ItalianOverhaul.csproj.AssemblyReference.cache
